:root {
  --color-acentos: #ffffff;
  --color-alias-100: #d6e8f5;
  --color-alias-200: #000000;
  --color-alias-300: #afd2eb;
  --color-alias-400: #9cc7e6;
  --color-alias-500: #88bce2;
  --color-bg-mode: #ffffff;
}
