:root {
  --color-acentos: #ffffff;
  --color-alias-100: #272d31;
  --color-alias-200: #c30600;
  --color-alias-300: #466275;
  --color-alias-400: #567c98;
  --color-alias-500: #6596ba;
  --color-bg-mode: #000000;
}
